.body-container {
  background: #f0f0f0;
  /* padding: 0;
  margin: 0;
  box-sizing: border-box; */
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 75px;
  margin-bottom: 30px;
  min-height: 50px;
  align-items: center;
}

.drop-button-container {
  display: flex;
  font-size: 1rem !important; /* 16px */ 
}

@media (max-width: 769px) {
  .table-container{
    padding-bottom: 25%;

  }
}
.table-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 50px;
  width: 80%;
  min-height: 800px;
}

.headcell {
  color: #5b5b5b;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  min-height: 85px;
  background-color: #ffffff;
  border-bottom: solid 2px black;
}

.meal-count-btn {
  font-size: 1rem !important; /* 16px */ 
}

.edit-delete-btn {
  font-size: 1rem !important; /* 16px */ 
}

/* Font size for phone devices */
@media (max-width: 640px) { /* Adjust this breakpoint as needed */
  .edit-delete-btn {
    font-size: 1.50rem !important; /* 20px */
  }
}

@media (max-width: 640px) { /* Adjust this breakpoint as needed */
  .meal-count-btn {
    font-size: 1.50rem !important; /* 20px */
  }
}

.dropdown-label {
  font-size: 1rem !important; /* 16px */ 
}

@media (max-width: 640px) { /* Adjust this breakpoint as needed */
  .dropdown-label {
    font-size: 1.50rem !important; /* 20px */
    height: 120px !important;
  }
}

label {
  font-size: 1rem !important; /* 16px */ 
}

@media (max-width: 640px) { /* Adjust this breakpoint as needed */
  label {
    font-size: 1.50rem !important; /* 20px */
  }
}