.header-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 75px;
  margin-bottom: 30px;
  min-height: 50px;
  align-items: center;
}

.table-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  min-height: 500px;
}

.loading-spinner {
  position: relative;
  top: 300px;
}

.headcell {
  color: #5b5b5b;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  min-height: 85px;
  background-color: #ffffff;
  border-bottom: solid 2px black;
}
