.underline {
  text-decoration: underline;
}

.modalBody-container {
  min-height: 500px;
}

.loadingSpinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.container-confirmationToast {
  min-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
