.row-style {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.editing-style {
  color: #5d24ff;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
}

.edit-input{
    height: 55px;
}

.edit-select {
    background-color: #ffffff;
}
