.meal-card {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .meal-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .meal-card-header > div {
    display: flex;
    gap: 10px;
  }
  
  .meal-card-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .meal-card-toggle {
    background: none;
    border: none;
    cursor: pointer;
  }
    