.modal-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden;
}

.loading-spinner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  
}

