.master-table-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.mealSite-headcell {
  color: #000000;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  min-height: 85px;
  background-color: #E8FDF5;
  border-bottom: solid 2px black;
}
